# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PyTorch models & heavy dataset outputs
*.pth
*.pt
DATA.json
dataset/
database/*.sqlite
preprocessed_data.csv
processed_features.csv

# MLflow tracking store
mlruns/
mlflow.db

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Virtual environments
venv/
env/
.venv

# Distribution / packaging
build/
dist/
*.egg-info/

# OS metadata
.DS_Store
Thumbs.db
